/.idea/
/.vscode/
/plots/
/CPP/CMakeFiles/
/CPP/.idea/
/CPP/cmake-build-debug/
/CPP/cmake-build-release/
/__pycache__/
CPP/cmake_install.cmake
CPP/CMakeCache.txt
CPP/libDS.so
CPP/Makefile
/runConfigurations/
